body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 800px; 
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.group img {
    margin-right: 10px;
}

.video_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.video_description {
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.contain_video_1,
.contain_video_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 360px; 
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.user_feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.emojis {
    display: flex;
    gap: 10px;
}

.contain_video_1 img,
.contain_video_2 img {
    width: 50px;
    height: 50px;
}

.video_name,
.date,
.video_description,
.tag,
.emoji {
    margin: 5px 0;
}

.emoji {
    cursor: pointer;
    margin: 0 5px;
}

.emoji.selected {
    color: green;
}

.emoji.thumbDown.selected {
    color: red;
}
