body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

.sidebar a:hover, a.active {
    background-color: #555;
}


/* Top Bar Styles */
/* Add a black background color to the top navigation */
.topnav {
    background-color:white;
    overflow: hidden;
    margin-left: 50px;
    border-bottom: 1px solid lightgray;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease;
  border-right: 0.1px solid lightgray;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Sidebar Styles */
.sidebar {
    height: calc(100% - 80px); 
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #373c53;
    padding-top: 80px; /* Adjust to account for the top bar's height */
}

.sidebar ul {
    color:white;
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    width:20px;
}


.sidebar img{
    width:20px;
}
.bot-set {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px white solid;
}
.bot-set li{
    margin-bottom: 10px;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  .sidebar a:hover {
    background-color: #555;
}
.sidebar li:hover .tooltiptext{
    visibility: visible;
}
.bot-set li:hover .tooltiptext{
    visibility: visible;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -25px;
}

#container {
    width: 800px; 
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.group img {
    margin-right: 10px;
}

.video_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.video_description {
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.contain_video_1,
.contain_video_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 360px; 
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.user_feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.emojis {
    display: flex;
    gap: 10px;
}

.contain_video_1 img,
.contain_video_2 img {
    width: 50px;
    height: 50px;
}

.video_name,
.date,
.video_description,
.tag,
.emoji {
    margin: 5px 0;
}

.emoji {
    cursor: pointer;
    margin: 0 5px;
}

.emoji.selected {
    color: green;
}

.emoji.thumbDown.selected {
    color: red;
}


/* Adjust other styles as needed */
@media (max-width: 768px) {
    .list-item {
        position: static; /* Reset the positioning for smaller screens */
    }

    .bottom-item {
        position: static; /* Reset the positioning for smaller screens */
        margin-top: 10px; /* Add spacing between items on smaller screens */
    }
}
