.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.user-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.user-profile h1 {
    padding-top: 20px;
    margin: 0;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.user-profile p {
    padding-top: 20px;
    /* margin: 0; */
    color: #666;
    font-size: 20px;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-container img {
    transition: filter 0.3s ease-in-out;
}

.change-avatar-button {
    margin-top: 10px;
    padding: 10px 10px;
    cursor: pointer;
    width: 180px;
}

button.edit-profile {
    margin-top: 0px;
    padding: 10px 10px;
    cursor: pointer;
    width: 180px;
}

button.save-profile {
    margin-top: 10px;
    padding: 10px 10px;
    width: 180px;
    cursor: pointer;
}

button.cancel-profile {
    margin-top: 10px;
    padding: 10px 10px;
    width: 180px;
    cursor: pointer;
}

button.changePassw {
    margin-top: 10px;
    padding: 10px 10px;
    width: 180px;
    cursor: pointer;
    margin-bottom: 10px;
}

input#username,
#birthday {
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 16px;
}

input#birthday {
    font-weight: bold;
}

input#birthday:hover {
    font-weight: bold;
    cursor: pointer;
    /* text-decoration: underline; */
}

.change-password-modal {
    margin: 0;
    border: 0;
    padding: 0;
    /* border-radius: 20px; */

}

.modal-content {
    border-radius: 20px;

}

.change-password-modal input {
    border-radius: 5px;
    padding: 5px 5px;
    font-weight: bold;
    width: 50%;

}

.modal-content p#confirm {
    margin-left: -88px;
    margin-bottom: 5px;
}

.modal-content p#old {
    margin-left: -120px;
    margin-bottom: 5px;

}

.modal-content p#new {
    margin-left: -120px;
    margin-bottom: 5px;

}

.change-password-modal button {
    width: 180px;
    font-weight: bold;
    font-size: 18px;
}
.input-container {
    display: flex;
    align-items: center;
}

.avatar-hover {
    position: relative;
    display: inline-block;
}

.avatar-hover img:hover {
    filter: brightness(70%);
}

.avatar-hover:hover .hovering-text {
    display: block;
    pointer-events: none;
}

.hovering-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
    font-size: 16px;
    text-align: center;
  
.input-container input[type="password"], 
.input-container input[type="text"] {
    margin-left: 120px; 
}

.input-container input[type="checkbox"]{
    width: 16px;
    /* height: 3px; */
    margin-left: 8px;
}

/* Additional styles for a line */
.hovering-text::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
}