#condition{
    width: 80em;
    border-radius: 5px; 
    margin-left : 50px;
    margin-top: 50px;
}
#condition table{
    border-collapse: collapse;
    
}
#VideoList{
    width: 70em;
    border-radius: 5px; 
    margin-left : 10em; 
}

thead{
    text-align: left;
    vertical-align: middle;
    height: 3em;
    font-weight: bold;
}
#VideoList table{
    border-collapse: collapse;
}

#VideoList tr{
    border-bottom: 1px solid #666;
    line-height: 5em;

}

#condition select{
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 20em;
    height: 3em;
    padding: 5px;
}

#VideoList .img{
    width: 5em;
}
#VideoList th{
    width: 20em;
    text-align: left;
}
#VideoList .head{
    width: 20em;
    text-align: left;
    vertical-align: middle;
    position: relative;
}
#VideoList .title{
    width: 20em;
    text-align: left;
    vertical-align: middle;
    position: relative;
}
#VideoList .date{
    width: 20em;
    text-align: left;
    vertical-align: middle;
}
#VideoList .edit{
    width: 20em;
    text-align: left;
    vertical-align: middle;
}
#VideoList .delete{
    width: 20em;
    text-align: left;
    vertical-align: middle;
}

#VideoList img{
    width: 50px;
    height: 50px;
    text-align: left;
    vertical-align: middle;
    border-radius: 50%;
}

.editButton{
    background-color: #373c53;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    width: 8em;
    height: 3em;
}

.deleteButton{
    background-color: #373c53;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    width: 8em;
    height: 3em;
}
#apply{
    background-color: #373c53;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    width: 5em;
    height: 3em;
}
.save{
    float: right;
    background-color: #373c53;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    width: 5em;
    height: 3em;
}
/*
hover
*/
.editButton, .deleteButton, #apply, .save{
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s;
    width: 100px; 
    height: 40px; 
    display: inline-block; 
}

.editButton::before, .deleteButton::before, #apply::before, .save::before {
    content: "";
    position: absolute;
    background-color: rgba(125, 83, 219, 0.7);
    border-radius: 50%;
    width: 200%;
    height: 200%;
    left: 50%;
    top: 50%;
    transform: scale(0) translate(-50%, -50%);
    transition: transform 0.5s;
    z-index: -1;
}

.editButton:hover::before, .deleteButton:hover::before, #apply:hover::before, .save:hover::before {
    transform: scale(1) translate(-50%, -50%);
}

.editButton:hover, .deleteButton:hover, #apply:hover, .save:hover {
    background-color: transparent; 
}


.title:hover::before {
    content: attr(data-description);
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 30em; 
    height: 5em;
    background-color: #333; 
    color: #fff; 
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1000; 
    margin-bottom: 5px;
    opacity: 0.95;
    vertical-align: top;
}

/* Add these styles to your CSS file */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: fixed;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 1001;
    /* Adjust below as necessary for mobile responsiveness */
    max-width: 500px;
}

.modal-input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
