body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

.banner {
    width: 100%;
    padding: 20px;
}

.navbar .header {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    margin-right: 10px;
}

#logoName {
    color: black;
    font-size: 24px;
    margin: 0;
}

.user-section {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0;
}

.user-details {
    display: flex;
    align-items: center;
}

.Userlogo {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#name .username {
    font-size: 18px;
    font-weight: bold;
}

#name .student {
    font-size: 14px;
    color: lightgreen;
}

.Logout {
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.main-content {
    margin-left: 50px;
}

.container h2 {
    font-size: 24px;
    margin-top: 0;
    color: black;
    padding-left: 250px;
}

.card {
    position: relative;
    width: 900px;
    height: 450px;
    margin: 20px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.card .photo{
    background-color: aqua;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .photo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    overflow: hidden;
    /* aniamtion transition. */
    transition: 0.5s;
}

/* when mouse hover on the image, image shrink.  */
.card:hover .photo {
    top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* add black to transparent background, so the content can be viewed easily. */
.card .photo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, #222)
}

.card h3 {
    font-size: 100px;
    position: absolute;
    top: 200px;
    transition: 0.5s;
}

.card:hover h3 {
    top: 170px;
    font-size: 15px;
}

.card h4 {
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card p {
    font-size: 16px;
    margin-top: 0;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.card a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 8px;
    border-color: white;
}

.card a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

.card a:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.Logout:hover {
    opacity: 0.8;
}

.navbar {
    display: flex;
}

.card:hover {
    opacity: 0.8;
}

.newUser img{
    width: 18em;
    margin-top: 5.5em;
    margin-left: 0;
}

/* Modal */
.modal {
    position: fixed;
    /* Fixed position to cover the entire viewport */
    z-index: 10000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black overlay with opacity */
    color: black;
}

/* Modal Content/Box */
.modal-content {
    position: fixed;
    /* Fixed position to center within the viewport */
    background-color: #fefefe;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Centering trick */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
