input{
    height: 2em;
    width: 25.5em;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    border-radius: 5px;
}

textarea{
    height: 6em;
    width: 25.5em;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    border-radius: 5px;
}

#main{
    margin-left: 5em;
    margin-top: 3em;
}

#saveButton{
    background-color: #7d53db;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    cursor: pointer;
    width: 8em;
    height: 4em;
}