* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    background-color: #6F52ED;
    padding: 20px;
}

#logoName {
    color: white;
}

#name .username {
    font-size: 24px;
}

#name .student {
    color: green;
}

.info {
    position: absolute;
    top: 35px;
    right: 0;
    display: flex;
    align-items: center;
}

.Userlogo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.Logout {
    width: 40px;
    padding: 5px;
    height: auto;
    cursor: pointer;
}

.user-details {
    flex: 1;
    margin-right: 10px;
}

.leftbar ul ol {
    margin: 0 50px;
    padding: 20px 0;
}

.leftbar {
    display: flex;
    margin-left: 250px;
}

#list .setting {
    padding: 450px 0;
}

.Buttons ol {
    display: inline-block;
}

.Buttons {
    margin-left: 500px;
}

.button3 {
    background-color: #20D833;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #6F52ED;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #ED5252;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#infoBox {
    border: 2px black solid;
    width: 700px;
    height: 600px;
    top: 300px;
    left: 250px;
    position: absolute;
}